<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="jiangyige">

    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/griddd@1.0.2/dist/griddd.min.css">
    <link rel="icon" href="/public/favicon.ico" type="image/x-icon">
    <title>{% block title %}Memories made with love by yige{% endblock %}</title>
  </head>
  <body>
    <div class="main">
      <div class="nav">
        <ul>
          <li><a href="/"><img class="site_logo" src="https://hicaicai.b0.upaiyun.com/x/maenEPPAiPmDuOIFGYbM.png"></a></li>
          <li><a href="/works">Work</a></li>
          <li><a href="/photos">Photo</a></li>
          <li><a href="http://1pm.me">Blog</a></li>
          <li><a href="#">Email</a></li>
        </ul>
      </div>
    </div>


    {% block content %}{% endblock %}

    <div class="footer">
      <div class="container has-text-centered">
        <p>Designed and Coded by © <a href="https://www.caicai.me">CaiCai</a></p>
      </div>
    </div>

    <script src="https://www.caicai.me/js/jquery-3.2.1.min.js"></script>
    <script src="https://www.caicai.me/js/zooming.js"></script>
  </body>
</html>


