{% extends "../layout/layout.njk" %}

{% block customCss %} 
  <link rel="stylesheet" href="/public/css/wedding.css">
  <link rel="stylesheet" async href="https://cdn.bootcss.com/animate.css/3.5.2/animate.min.css">
{% endblock %}

{% block title %} wedding {% endblock %}

{% block navi %}  {% endblock %}

{% block content %}

  <div class="Y-container hide">
  
    <div style="padding-bottom: 600px;">
      <span id="trigger"></span>
      <div class="container">
        <div class="tips animated infinite bounce">
          <p>请缓慢向下滑动</p>
        </div>

        <!-- SVG	 -->
        <div class="svg-container">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 1080" width="1920px" height="1080px" preserveAspectRatio="xMidYMid slice">
            <defs>
              <!-- Mask -->
              <mask id="mask" x="0" y="0" width="1920" height="1080" >
                <rect x="0" y="0" width="1920" height="1080"/>
                <text x="960" y="1em">Y</text>
              </mask>
            </defs>
            <rect x="0" y="0" width="1920" height="1080"/>
          </svg>
          <div id="trigger1"></div>
        </div>
        
        {# <div class="video-container">
          <video id="video" autoplay  webkit-playsinline="true" playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" poster="/public/img/poster.jpg" muted="muted" preload="auto" loop="loop">
            <source src="http://7xnwd9.com1.z0.glb.clouddn.com/weddingclouds_over_the_mountain_hd_stock_video_480p.mp4" type="video/mp4">
          </video>
        </div> #}

        <div class="moji-container">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 261.2 56.74" width="300" height="100">
            <path id="J" style="stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 148.19px; stroke-dashoffset: 148.19px;" fill="none" stroke="#000000" stroke-width="3" 
            d="M23.76,37.66c0,14.55-6.91,19.08-16.56,19.08A23.32,23.32,0,0,1,0,55.66l1-6.91a16.12,16.12,0,0,0,5.47.86c5.54,0,8.93-2.45,8.93-12.24V.79h8.35Z"/>
            <path id="Y" style="stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 201.947px; stroke-dashoffset: 201.947px;" fill="none" stroke="#000000" stroke-width="3" 
            d="M70.88.86,53.81,32.69V55.95H45.46v-23L29.26.86h9.43l6.48,14.4c1.8,4,3.38,7.49,4.82,11.38h.14c1.37-3.67,3-7.34,4.82-11.45L61.52.86Z"/>
            <path id="G" style="stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 285.048px; stroke-dashoffset: 285.048px;" fill="none" stroke="#000000" stroke-width="3" 
            d="M116.14,53.72a46,46,0,0,1-15.7,2.81c-23.83,0-26.86-18.94-26.86-27.72C73.59,10.94,85.33.29,101.82.29c5.4,0,10.08.94,12.82,2.3l-1.87,6.84a25.77,25.77,0,0,0-10.94-2.09c-11.31,0-19.44,7.13-19.44,21.1s7.56,21.24,18.36,21.24c3.6,0,6.12-.5,7.34-1.15V33h-9.5v-6.7h17.57Z"/>
            <path id="and" style="stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 334.037px; stroke-dashoffset: 334.037px;" fill="none" stroke="#000000" stroke-width="3" 
            d="M168.17,55.95h-9.72c-1.37-1.44-2.59-2.81-4.46-5a20.82,20.82,0,0,1-14.91,5.76c-10.95,0-16.78-7.34-16.78-15.41,0-7.13,4-12.31,10.15-15.91l.07-.22a19.47,19.47,0,0,1-4.39-11.52C128.13,6.84,133,0,142.17,0c6.91,0,12.38,4.46,12.38,11.88,0,5.69-3.1,10.3-11.23,14.69v.29c3.74,4.54,8.28,10.15,11.67,14,2.45-3.89,3.89-9.43,4.68-15.27h7.49c-1.3,8.21-3.6,15.34-7.85,20.38ZM150,46.16c-3.46-4-8.71-10.15-13.83-16.27-2.66,1.87-5.9,5.11-5.9,10.15,0,5.76,4,10.44,10.15,10.44A12.37,12.37,0,0,0,150,46.16ZM135.69,13c0,3.6,1.58,6.48,3.82,9.36,4.9-3,7.78-5.9,7.78-10.08,0-3.17-1.58-6.62-5.62-6.62S135.69,9.29,135.69,13Z"/>
            <path id="D" style="stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 292.752px; stroke-dashoffset: 292.752px;" fill="none" stroke="#000000" stroke-width="3" 
            d="M173.86,1.58a88.49,88.49,0,0,1,14-1.15c23.47,0,28.37,14.47,28.37,26.71v.07c0,10-3.1,17.28-7.92,22s-12.82,7.27-22.54,7.27a89.38,89.38,0,0,1-12-.65Zm8.35,47.88a40.08,40.08,0,0,0,5.4.29c12.38.07,19.87-7.2,19.87-22.39,0-13.39-6.91-20.31-18.79-20.31a33.28,33.28,0,0,0-6.48.58Z"/>
            <path id="Y2" style="stroke-linecap: round; stroke-linejoin: round; stroke-dasharray: 201.943px; stroke-dashoffset: 201.943px;" fill="none" stroke="#000000" stroke-width="3" 
              d="M261.2.86,244.13,32.69V55.95h-8.35v-23l-16.2-32H229l6.48,14.4c1.8,4,3.38,7.49,4.83,11.38h.14c1.37-3.67,3-7.34,4.82-11.45L251.84.86Z"/>
          </svg>
          <p class="text">我们结婚啦!</p>
          <img id="people" src="/public/img/people2.svg">
        </div>

        
      </div>
    </div>

    <section class="nextSection">
      <div class="title" id="trigger-img-1">
        <h1 class="hide">在最好的时光里遇见你</h1>
      </div>
      <img class="p_img lazy J-img-1" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding070.jpg">

      <div class="title" id="trigger-img-2">
        <h1 class="hide">执子之手</h1>
      </div>
      <img class="p_img lazy J-img-2 maxwidth" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding071.jpg">

      <div class="title" id="trigger-img-3">
        <h1 class="hide">与子偕老</h1>
      </div>
      <img class="p_img lazy J-img-3 maxwidth" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding066-1.jpg">
    </section>

    <section class="nextSection">
      <div class="title" id="trigger-img-4">
        <h1 class="hide">新郎-蒋一戈</h1>
      </div>
      <img class="p_img lazy J-img-4 maxwidth" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding106.jpg">

      <div class="title" id="trigger-img-5">
        <h1 class="hide">新娘-狄芸</h1>
      </div>
      <img class="p_img lazy J-img-5 maxwidth" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding108.jpg">

      <div class="title" id="trigger-img-6">
        <h1 class="hide">We're，装酷二人组！</h1>
      </div>
      <img class="p_img lazy J-img-6 maxwidth" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding104.jpg">
    </section>


    <section class="nextSection">
      <div class="title" id="trigger-img-7">
        <h1 class="hide">“我想带你骑单车”</h1>
      </div>
      <img class="p_img lazy J-img-7" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding128.jpg">

      <div class="title" id="trigger-img-8">
        <h1 class="hide">“你靠着我的肩膀”</h1>
      </div>
      <img class="p_img lazy J-img-8" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding129-1.jpg">

      <div class="title" id="trigger-img-9">
        <h1 class="hide">“像这样，简单爱”</h1>
      </div>
      <img class="p_img lazy J-img-9" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding132.jpg">
    </section>


    <section class="nextSection">
      <div class="title" id="trigger-img-10">
        <h1 class="hide">愿得一树桃花</h1>
      </div>
      <img class="p_img lazy J-img-10 maxwidth" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding139.jpg">

      <div class="title" id="trigger-img-11">
        <h1 class="hide">许你一世芳华</h1>
      </div>
      <img class="p_img lazy J-img-11 maxwidth" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding141-1.jpg">

      <div class="title" id="trigger-img-12">
        <h1></h1>
      </div>
      <img class="p_img lazy J-img-12 maxwidth" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding146.jpg">

      <div class="title" id="trigger-img-13">
        <h1></h1>
      </div>
      <img class="p_img lazy J-img-13 maxwidth" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding143.jpg">
    </section>


    <section class="nextSection">
      <div class="title" id="trigger-img-14">
        <h1 class="hide">結婚しよう！</h1>
      </div>
      <img class="p_img lazy J-img-14 maxwidth" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding150-1.jpg">

      <div class="title" id="trigger-img-15">
        <h1></h1>
      </div>
      <img class="p_img lazy J-img-15 maxwidth" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding152-1.jpg">
    </section>


    <section class="nextSection">
      <div class="title" id="trigger-img-16">
        <h1 class="hide">诚邀您参加我们的婚礼</h1>
      </div>
      <img class="p_img lazy J-img-16 maxwidth" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding175-1.jpg">

      <div class="title" id="trigger-img-17">
        <h1></h1>
      </div>
      <img class="p_img lazy J-img-17 maxwidth" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/wedding174-1.jpg">
    </section>


    <section class="locationSection">
      <div class="location-text">2017年12月10日 星期日</div>
      <div class="location-text">上午 11:28</div>
      <div class="location-text">溧阳涵田度假村酒店</div>
      <div class="baidumap" id="allmap"></div>
      <div style="padding: 20px;">
        <div class="location-text">蒋一戈 & 狄芸</div>
        <div class="location-text">恭候您的到来</div>
      </div>
      <img class="lazy" data-src="/public/img/people.svg" width="300">

      <div style="padding: 20px;">
        <p><a href="./photo" style="color: #de3429; font-weight: 600; font-size: 16px;">查看更多照片?</a></p>
        <p class="jump">▼</p>
        <a href="./photo">
          <img class="lazy" data-src="http://7xnwd9.com1.z0.glb.clouddn.com/apple-icon-180x180.png" style="border-radius: 50%; width: 90px;"></img>
        </a>
        <p>Designed and Coded by © <a href="http://www.yige.tech">yige</a></p>
      </div>
    </section>

  </div>


{% endblock %}

{% block footer %}
{% endblock %}

{% block customJs %}
  {# <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> #}
  {# <script src="https://cdn.bootcss.com/zooming/1.2.5/zooming.min.js"></script> #}
  <script src="/public/js/lazyload.min.js"></script>
  <script src="/public/js/TweenMax.min.js"></script>
  <script src="https://cdn.bootcss.com/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
  <script src="https://cdn.bootcss.com/ScrollMagic/2.0.5/plugins/animation.gsap.min.js"></script>
  <script src="/public/js/bscroll.min.js"></script>
  {# <script src="https://cdn.bootcss.com/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js"></script> #}
  <script src="https://api.map.baidu.com/api?v=2.0&ak=2MfBtkLA54dqzg0nZYPARitt"></script>
  <script src="/public/js/wedding.js"></script>
{% endblock %}
