{% extends "../layout/layout.njk" %}

{% block title %} photo {% endblock %}


{% block content %}
  <div class="photos">
    <div class="column">
      <h1>Photos</h1>
      <p>It's a fun thing to shoot the next moment. 📷</p>
    </div>
    <div>

      {% for photo in photos %}

        <div class="columns">
          <div class="list">
            {{ photo.imgs | imgList | safe}}
          </div>
        </div>
        <div class="title">
          <h4 class="subtitle">{{ photo.subTitle }}</h4>
          <h3 class="p_title"><p>{{ photo.title }}</p></h3>
          <p class="location">{{ photo.location }}</p>
        </div>

      {% endfor %}

    </div>
  </div>
{% endblock %}